font-face {
    font-family: bidu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: bidu;
    src: url(./NeueHaasDisplayLight.ttf);
    font-weight: 100;
}
@font-face {
    font-family: bidu;
    src: url(./NeueHaasDisplayBold.ttf);
    font-weight: 200;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "bidu";
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111111;
}
#main{
    background-color: #111111;
    /* min-height: 500vh; */
    color: white;
}
.name h1{
    font-weight: 700;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    padding: 6vh;
   position: fixed;
   width: 100%;
   background-color: #111111;
   height: 15vh;
   z-index: 9;
   
}
.real{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.touch{
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3vw;
    border: 1px solid #0DA34E;
    border-radius: 20px;
    background-color: #0DA34E;
    width: 14.5vw;
    height: 5.7vh;
    transition: all ease 0.3s;
}
.final{
    display: flex;
    align-items: center;
    width: 15vw;
}

.new1{
    position: absolute;
    right: 13.5vw;
    z-index: 99;
    font-size: 1.3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.img1 img{
    height: 6vh;
    position: absolute;
    top: 2.8vw;
    right: 10.5vw;
}
.places{
    display: flex;
    gap: 2vw;
    font-weight: 200;
}
.new1:hover ~ .touch {
    width: 3vw; 
   margin-left: 11.5vw;
  }
.hwr{
    width: 100%;
    min-height: 0.01vw;
    background-color: aliceblue;
    margin-top: 1.5vw;
}
.page1{
    min-height: 80vh;
}
.page1{
   
    height: 120vh;
}
.front .second{
    display: flex;
    align-items: center;
}
.second .fu .fu2{
    width: 7vw;
    background-color: #0DA34E;
    height: 15.5vh;
    border-radius: 50%;
}
.fu2 img{
    height: 7vh;
    transition: 0.3s ease;
}
.fu{
    height: 15.5vh;
    width: 7vw;
    cursor: pointer;
}
.fu2{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.fu:hover .fu2 {
    width: 80%;
    height: 80%;
    /* margin: auto; */
    margin-top: 0.59vw;
    margin-left: 0.59vw;
}
.fu:hover .fu2 img{
    transform: rotate(-15deg); 
}
.final-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.front h1{
    font-size: 10vw;
}
.front{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.front2 {
    font-weight: 100;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.puku{
    opacity: 0;
    transform: translateY(-50px);
  transition: opacity 0.5s ease-out, transform 0.25s ease-out;
}
.puku.active {
    opacity: 1;
    transform: translateY(0);
  }
:root {
    --duration: 40s;
    --gap: 1rem;
  }
  
  .marquee-container {
    display: flex;
    overflow: hidden;
    padding: 2rem;
    gap: var(--gap);
    background-color: #111111;
    margin-top: -20vh;
  }
  
  .marquee {
    display: flex;
    animation: marquee var(--duration) linear infinite;
  }
  
  .marquee-item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: 1rem;
    background-color: #1111;
    border: 1px solid #1111;
    border-radius: 5px;
    margin-right: var(--gap);
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% / 2));
    }
  }
  
  /* Pause on hover */
  .marquee:hover {
    animation-play-state: paused;
  }
  
  /* Reverse direction */
  .marquee.reverse {
    animation-direction: reverse;
  }
  .about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6vw;
    gap: 3vw;
    
  }
  .about-1 h1{
    font-size: 6vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .about-2 {
    font-weight: 100;
    font-size: 4vw;
    width: 80%;
    text-align: center;
  }
  .about-1{
    display: flex;
    gap: 1vw;
    align-items: center;
  }
  .btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .btn:hover .text {
    color: white;
  }
  
  .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 
  .reject-checkbox .checkbox-wrapper * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
  .reject-checkbox .checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
  .reject-checkbox .checkbox-wrapper label {
    --size: 50px;
    --shadow: calc(var(--size) * 0.07) calc(var(--size) * 0.1);
    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
  }
  .reject-checkbox .checkbox-wrapper label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * 0.7);
    height: calc(var(--size) * 0.7);
    margin: 0 auto;
    background-color: #080808;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
  }
  .reject-checkbox .checkbox-wrapper label:hover:before {
    width: calc(var(--size) * 0.55);
    height: calc(var(--size) * 0.55);
    box-shadow: inset 0 var(--shadow) #ff9d96;
  }
  .reject-checkbox .checkbox-wrapper label:active {
    transform: scale(0.9);
  }
  .reject-checkbox .checkbox-wrapper .tick_mark {
    position: absolute;
    top: 9px;
    left: 2px;
    right: 0;
    width: calc(var(--size) * 0.6);
    height: calc(var(--size) * 0.6);
    margin: 0 auto;
    margin-left: calc(var(--size) * 0.14);
    transform: rotateZ(-92deg);
  }
  .reject-checkbox .checkbox-wrapper .tick_mark:before,
  .reject-checkbox .checkbox-wrapper .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #000000;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
  }
  .reject-checkbox .checkbox-wrapper .tick_mark:before {
    left: 0;
    bottom: 0;
    width: calc(var(--size) * 0.1);
    height: calc(var(--size) * 0.3);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(calc(var(--size) * -0.68));
  }
  .reject-checkbox .checkbox-wrapper .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--size) * 0.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(calc(var(--size) * 0.78));
  }
  .reject-checkbox .checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #f7805c 0%,
      #fb4545 46%,
      #e1236a 100%
    );
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label:before {
    width: 0;
    height: 0;
  }
  
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label
    .tick_mark:before,
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label
    .tick_mark:after {
    background-color: #000000;
    width: calc(var(--size) * 0.4);
    height: calc(var(--size) * 0.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label
    .tick_mark:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .reject-checkbox
    .checkbox-wrapper
    input[type="checkbox"]:checked
    + label
    .tick_mark:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .swiper {
    width: 100%;
    /* height: 80vh; */
  }
.page3{
    margin-top: 15vh;
}
  .swiper-slide {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    gap: 3vw;
  }
.title{
    font-size: 6vw;
}
.content {
    width: 70%;
    text-align: center;
    font-weight: 100;
    font-size: 2.5vw;
}
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .real-one{
    width: 100%;
    height: 0.3vh;
    background-color: white;
  
  }
  .footer{
    margin-top: 20vh;
    background-color: #141122;
    height: 20vh;
    display: flex;
    flex-direction: column;
  }
  .thanku{
    color: white;
    font-weight: 100;
    margin-top: 3vh;
  }
  .icons{
    display: flex;
    gap: 2vw;
    margin-top: 3vh;
  }
.icons img{
  height: 4vh;
}
